body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
    min-width: 1200px;

}

img {
    max-width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 10px 10px 10px #ededed;
    position: relative;
}

a,
.site-navigation a:hover,
.site-navigation a:focus {
    text-decoration: none;
    color: #81b3d2;
}

.site-navigation:nth-child(1) {
    margin-left: 45px;
}

.title-section img {
    padding-top: -55px;
}

.main-slogan,
.features-item {
    font-size: 21px;
    margin-bottom: 30px;
}

.features-item {
    width: 400px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.features-reason-description {
    margin-bottom: 0;
}

.reason-description {
    line-height: 18px;
}

.reason-title {
    margin-top: 42px;
    /* padding-top: 28px; */
    margin-bottom: 0;
}

.reason-number-long {
    margin-bottom: 10px;
}

.features-reason-title {
    font-size: 18px;
}

.reason-title {
    font-size: 18px;
}

.features-reason-title.second {
    margin: 15px;
}

.reason-number.second {
    margin: 0;
}

.features-reason-description.second {
    margin-bottom: 25px;
}

.offer-title {
    font-size: 30px;
    padding-top: 32px;
    margin-bottom: 27px;
}

.features-reason-description,
.reason-description,
.reason-number,
.offer-description,
.hotel-type,
.hotel-price {
    font-size: 14px;
}

.offer-description {
    margin-bottom: 41px;
}

.site-navigation {
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 56px;

}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.main-photo {
    margin-bottom: 35px;
}

.main-reasons {
    margin-bottom: 51px;
}

.site-navigation a,
.features-item .reason-number {
    color: #000000;
}

.site-navigation li {
    margin-top: 13px;
}

.site-navigation li:first-child {
    position: relative;
    right: 34px;
}

.site-navigation li:nth-child(2) {
    position: relative;
    right: 97px;
}

.site-navigation li:nth-child(3) {
    position: relative;
    left: 80px;
}

.site-navigation li:last-child {
    position: relative;
    left: 34px;
}

.main-navigation {
    line-height: 26px;
    font-weight: 700;
}

.features-first-list,
.features-second-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    padding: 0;
    justify-content: center;
    margin-bottom: 12px;
}

.features-first-reason,
.features-second-reason {
    background-color: #81b3d2;
    display: flex;
    flex-wrap: wrap-reverse;
}

.features-first-reason.text,
.features-second-reason.text {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.features-item,
.social-list,
.living-conditions-list,
.living-type-list,
.sort-list,
.search-result,
.star-raiting,
.hotel-links {
    list-style: none;
}
.footer-hashtag-wrapper {
    width: 300px;
}

.footer-copyright-wrapper {
    width: 300px;
}

.footer-social {
    width: 300px;
}

.social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 35px;
    margin-bottom: 27px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.features-first-reason,
.features-second-reason {
    color: #ffffff;
}

.features-second-reason {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.reason-number,
.reason-description,
.reason-title {
    color: #ffffff;
}

.features-second-list {
    background-color: #eeeeee;
    height: 255px;
    align-items: center;
}

.modal-search .button {
    font: inherit;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    width: 458px;
    height: 58px;
    margin-bottom: 55px;
}

.modal-search.form {
    height: 395px;
    display: block;
    box-shadow: 0 5px 6px 1px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 5;
    bottom: 205px;
    box-sizing: border-box;
    width: 568px;
    padding-top: 32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
}

.modal-search h2 {
    background-color: #766357;
    width: 568px;
    height: 86px;

}

.modal-search.form input {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, .9);
    box-sizing: border-box;
    padding: 15px 0;
    min-height: 120px;
    margin-top: -121px;
}

.footer-hashtag {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 36px;
}

.modal-search form,
.modal-search input,
.change-count-btn {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;
    border: none;
}

.people {
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 40px;
}

.change-count-btn {
    color: #a9a9a9;
    background-color: #f2f2f2;
    height: 30px;
}

fieldset {
    border: none;
}

.catalog-filter {
    background-image: url("../img/background/filter_background.jpg");
    background-repeat: no-repeat;
    background-color: #81b3d2;
    color: #f2f2f2;
    background-size: cover;
}

.living-conditions-button {
    background-color: transparent;
    width: 141px;
    height: 40px;
    color: #ffffff;
    text-transform: inherit;
}

.fieldset-legend {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.313;
    height: 13px;
}

.search-sort-items .sort-link {
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
}

.search-count {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.238;
    color: #000000;
}

.sort-item a:hover {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-item a:focus {
    color: #81b3d2;
    border-bottom: none;
}

.sort-item a:active {
    color: #000000;
    border-bottom: none;
}

.sort-list {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 520px;
    margin-right: 0;

}

.search-sort-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
}

.searched-hotel {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-title {
    font-size: 21px;
    font-weight: bold;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
}

.about-hotel {
    background-color: #81b3d2;
    color: #ffffff;
    margin-right: 6px;
}

.about-hotel:hover {
    background-color: #669ec0;
}

.about-hotel:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.order-hotel:hover {
    background-color: #604e43;
}

.order-hotel:active {
    background-color: #503e33;
    color: #857871;
}

.order-hotel {
    background-color: #766357;
    color: #ffffff;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    height: 0;
    position: relative;
    bottom: 95px;
    align-items: flex-end;
    margin-bottom: 30px;
    width: 110px;
    left: 300px;
}

.rating-count {
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    min-height: 27px;
    position: relative;
    bottom: 30px;
}

.hotel-items,
.hotel-links {
    display: flex;
}

.hotel-links,
.hotel-details {
    width: 100%;

}

.hotel-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 600px;
}

.hotel-img {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hotel-links {
    display: flex;
    justify-content: space-between;
}

.hotel-info {
    display: flex;
}

.hotel-type {
    margin-right: 40px;
}

.sort {
    width: 100%;
}

.hotel-link {
    display: inherit;
    justify-content: center;
    padding: 2px 7px 2px 7px;
    height: 23px;

}

.button-set-hotel {
    display: flex;

}

.arrow {
    list-style: none;
    color: #cacaca;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter-range {
    width: 330px;
    margin: 50px auto; /* для демо */

    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: #ffffff;
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #000101;
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.arrow-items {
    display: flex;
    width: 35px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-right: 70px;
}

.sort-arrow {
    border-bottom: none;
}

.sort-element svg:hover {
    color: #436dca;
}

.sort-element svg, .sort-right svg:active {
    fill: #81b3d2;

}

.star-raiting-item {
    display: inline-block;
    content: "";
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    margin: 0;
}

.star-raiting {
    margin-bottom: 100px;
    position: relative;
    top: 30px;
}

.hotel-items {
    width: 100%;
    margin: 0;
}

.search-button {
    box-sizing: border-box;
    width: 569px;
    min-height: 86px;
    font-size: 21px;
    color: #fff;
    background-color: #766257;
    border: none;
    padding-top: 28px;
    padding-bottom: 36px;
    position: relative;
    top: 3px;
    text-transform: inherit;
}

.footer-copyright {
    min-width: 200px;
    margin-left: 7px;
    margin-bottom: 20px;
}

.footer-copyright svg {
    width: 115px;
    height: 41px;
}

.footer-copyright b {
    position: relative;
    bottom: 15px;
    right: 4px;
}

.check-in-date {
    width: 300px;
    height: 38px;

}

.icon-calendar {
    position: relative;
    right: 35px;

    top: 7px;
    fill: #cacaca;
}

.modal-search label {
    margin-right: 17px;
}

.modal-search input {
    padding-left: 13px;
    padding-right: 35px;
}

.people input {
    box-sizing: border-box;
    font-weight: 700;
    height: 38px;
    width: 60px;
    padding-left: 21px;
    padding-right: 7px;
}

.people p:nth-child(2) {
    margin-right: -16px;
}

.people p:nth-child(2) > label {
    margin-right: 20px
}

.people button {
    width: 33px;
    height: 38px;
}

.btn-left {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    left: 4px;
    top: 14px;
}

.btn-right {
    position: relative;
    padding: 0;
    right: 16px;
    top: 14px;
}

.btn-left::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 12px;
    top: 19px;
}

.btn-right::before {
    background-color: #a9a9a9;
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    left: 10px;
    top: 19px;
}

.btn-right::after {
    background-color: #a9a9a9;
    position: absolute;
    content: "";
    width: 3px;
    height: 11px;
    top: 15px;
    left: 14px;
}

.column {
    margin-bottom: 27px;
    position: relative;
    top: 7px;
    left: 12px;
}

.people p {
    margin-top: -4px;
}

.people label {
    margin-right: 33px;
}

.footer-catalog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    box-sizing: border-box;
    min-height: 120px;
    padding: 15px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.main-container {
    margin-bottom: -16px;
}