body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
}

a,
.site-navigation a:hover,
.site-navigation a:focus {
    text-decoration: none;
    color: #81b3d2;
}

h1, h2, h3 {
    font-weight: bold;
}

.site-navigation {
    background-color: rgba(255, 255, 255, 1);
    list-style: none;
}

.site-navigation a,
.features-item .reason-number{
    color: rgba(0, 0, 0, 1);
}

.features-first-reason,
.features-second-reason {
    background-color: rgba(129, 179, 210, 1);
}

.features-item,
.social-list,
.living-conditions-list,
.living-type-list,
.sort-list,
.search-result,
.rating-list{
    list-style: none;
}

.features-first-reason h2,
.features-first-reason p {
    color: white;
}

.reason-number,
.reason-description,
.reason-title,
.modal-search h2{
    color: rgb(255, 255, 255);
}

.features-second-list {
    background-color: rgba(238, 238, 238, 1);
}

.modal-search .button {
    font: inherit;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgba(129, 179, 210, 1);
    color: rgba(255, 255, 255, 1);
}

.modal.modal-search h2 {
    background-color: rgba(118, 99, 87, 1);
}

.modal-search.form input {
    background-color: rgba(242, 242, 242, 1);
}

.footer-hashtag {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.modal-search form,
.modal-search input,
.change-count-btn {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;
    border: none;
}

.change-count-btn {
color: rgba(169,169,169,1);
background-color: rgba(242,242,242,1);
}

fieldset {
    border: none;
}

.catalog-filter {
    background-image: url("../img/background/filter_background.jpg");
    background-repeat: no-repeat;
    background-color: rgba(129, 179, 210, 1);
    color: rgba(242,242,242,1);
    background-size: cover;
}

.price-input {
    background-color: transparent;
    color: rgba(242,242,242,1);
    width: calc(322px/2) ;
    height: 40px;
}

.living-conditions-button {
    background-color: transparent;
    width: 141px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    text-transform: inherit;
}

legend {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    line-height: 1.313;
    height: 13px;
}
.search-sort-items a {
    color: rgba(0,0,0,1);
    border-bottom: 1px dashed rgba(129, 179, 210, 1);
}
.search-count {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.238;
    color: rgba(0,0,0,1);
}

.sort-item a:hover,
.sort-item a:active,
.sort-item a:focus {
    color: rgba(129, 179, 210, 1);
    border-bottom: none;
}
.searched-hotel {
    border-top: 1px solid rgba(229, 229, 229, 1);
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.searched-hotel h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.238;
    height: 16px;
}

.about-hotel {
    background-color: rgba(129, 179, 210, 1);
    width: 110px;
    height: 27px;
    color: rgba(255, 255, 255, 1);
}

.order-hotel {
    background-color: rgba(118, 99, 87, 1);
    width: 142px;
    height: 27px;
    color: rgba(255, 255, 255, 1);
}

.searched-hotel p {
    background-color: rgba(242, 242, 242,1);
    width: 110px;
    height: 27px;
}
li .active {
    background-color: rgba(129, 179, 210,1);
}
