body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
}

a,
.site-navigation a:hover,
.site-navigation a:focus {
    text-decoration: none;
    color: #81b3d2;
}

.main-slogan,
.features-item {
    font-size: 21px;
}

.features-reason-title,
.reason-title {
    font-size: 21px;
}

.offer-title {
    font-size: 23px;
}

.features-reason-description,
.reason-description,
.reason-number,
.offer-description,
.hotel-type,
.hotel-price {
    font-size: 14px;
}

.site-navigation {
    background-color: #ffffff;
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 1200px;

}

.site-navigation a,
.features-item .reason-number {
    color: #000000;

}

.features-first-list,
.features-second-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    padding: 0;
    justify-content: center;
}

.features-first-reason,
.features-second-reason {
    background-color: #81b3d2;
    display: flex;
    flex-wrap: wrap-reverse;
}

.features-first-reason.text,
.features-second-reason.text {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.features-item,
.social-list,
.living-conditions-list,
.living-type-list,
.sort-list,
.search-result,
.rating-list,
.hotel-links {
    list-style: none;
}

.social-list {
    display: flex;
    justify-content: space-around;
}

.features-first-reason,
.features-second-reason {
    /*flex-grow: 1;*/
    color: #ffffff;
}

.features-second-reason {
    justify-content: flex-start;
    flex-direction: row-reverse;
    /*flex-grow: 10;*/
}

.reason-number,
.reason-description,
.reason-title,
.modal-search h2 {
    color: #ffffff;
}

.features-second-list {
    background-color: #eeeeee;
}

.modal-search .button {
    font: inherit;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    width: 458px;
    height: 58px;
}

.modal-search h2 {
    background-color: #766357;
    width: 568px;
    height: 86px;

}

.modal-search.form input {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.main-footer {
    display: flex;
    justify-content: space-around;
}

.footer-hashtag {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.modal-search form,
.modal-search input,
.change-count-btn {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857;
    border: none;
}

.people {
    display: flex;
    justify-content: center;
}

.change-count-btn {
    color: #a9a9a9;
    background-color: #f2f2f2;
}

fieldset {
    border: none;
}

.catalog-filter {
    background-image: url("../img/background/filter_background.jpg");
    background-repeat: no-repeat;
    background-color: #81b3d2;
    color: #f2f2f2;
    background-size: cover;
}

.price-input {
    background-color: transparent;
    color: #f2f2f2;
    width: 161px;
    height: 40px;
}

.living-conditions-button {
    background-color: transparent;
    width: 141px;
    height: 40px;
    color: #ffffff;
    text-transform: inherit;
}

.fieldset-legend {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.313;
    height: 13px;
}

.search-sort-items a {
    color: #000000;
    border-bottom: 1px dashed #81b3d2;
}

.search-count {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.238;
    color: #000000;
}

.sort-item a:hover,
.sort-item a:active,
.sort-item a:focus {
    color: #81b3d2;
    border-bottom: none;
}

.sort-list {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 50%;

}

.searched-hotel {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-title {
    font-size: 21px;
    font-weight: bold;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
}

.about-hotel {
    background-color: #81b3d2;
    color: #ffffff;
    margin-right: 6px;
}

.order-hotel {
    background-color: #766357;
    color: #ffffff;
}

.rating-count {
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
}

.rating-list .active {
    background-color: #81b3d2;
}

.hotel-items,
.hotel-links {
    display: flex;
}

.hotel-links,
.hotel-details {
    width: 100%;

}

.hotel-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hotel-img {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hotel-links {
    display: flex;
    justify-content: space-between;
}

.hotel-info {
    display: flex;
}

.hotel-type {
    margin-right: 40px;
}

.sort {
    width: 100%;
}

.hotel-link {
    display: inherit;
    justify-content: center;
    padding: 2px 7px 2px 7px;
    height: 27px;

}

.button-set-hotel {
    display: flex;
}